build
.bloop
.bsp
.metals
.vscode
project
target
build
generated
test_run_dir
verification/bin/*
verification/include/*
verification/lib/*
verification/lib64
verification/sim_build/*
verification/pyvenv.cfg
verification/results.xml
obj_dir
*.vcd
