[submodule "hello-morse"]
	path = hello-morse
	url = git@github.com:schoeberl/hello-morse.git
[submodule "leros"]
	path = leros
	url = git@github.com:leros-dev/leros.git
[submodule "open-source-hardware-development-environment"]
	path = open-source-hardware-development-environment
	url = https://codeberg.org/Kodalem/open-source-hardware-development-environment
