build/*
.bloop/*
.bsp/*
.metals/*
.vscode/*
project/*
target/*
test_run_dir/*
verification/bin/*
verification/include/*
verification/lib/*
verification/lib64
verification/sim_build/*
verification/pyvenv.cfg
verification/results.xml
src/sv/*
obj_dir
*.vcd