# Basics
DESIGN_NAME: DtuSubsystem
VERILOG_FILES: dir::../generated/openlane/DtuSubsystem.sv
CLOCK_PERIOD: 25
CLOCK_PORT: clock

FP_SIZING: "absolute"
DIE_AREA: [0, 0, 1200, 700]
#PL_TARGET_DENSITY_PCT: 0.5

FP_PDN_MULTILAYER: true # old DESIGN_IS_CORE

# Pin Order
#FP_PIN_ORDER_CFG: dir::pin_order.cfg

# Technology-Specific Configs
pdk::sky130*:
  #FP_CORE_UTIL: 45
  CLOCK_PERIOD: 25

VDD_NETS: ["vccd1"]
GND_NETS: ["vssd1"]


PDN_MACRO_CONNECTIONS: ["dmem.m.mem vccd1 vssd1 vccd1 vssd1",
                       "instrMem.m.mem vccd1 vssd1 vccd1 vssd1"]

MACROS: {
  "sky130_sram_1kbyte_1rw1r_32x256_8": {
        "instances": {
            "dmem.m.mem": {
                "location": [
                    50,
                    200
                ],
                "orientation": "FN"
            },
            "instrMem.m.mem": {
                "location": [
                    670,
                    200
                ],
                "orientation": "N"
            }
        },
        "gds": ["pdk_dir::libs.ref/sky130_sram_macros/gds/sky130_sram_1kbyte_1rw1r_32x256_8.gds"],
        "lef": ["pdk_dir::libs.ref/sky130_sram_macros/lef/sky130_sram_1kbyte_1rw1r_32x256_8.lef"],
        "nl": ["pdk_dir::libs.ref/sky130_sram_macros/verilog/sky130_sram_1kbyte_1rw1r_32x256_8.v"],
        "lib": {
            "*": "pdk_dir::libs.ref/sky130_sram_macros/lib/sram_1rw1r_32_256_8_sky130_TT_1p8V_25C.lib"
        }
    }
}

RUN_KLAYOUT_DRC: false
MAGIC_DRC_USE_GDS: false
QUIT_ON_MAGIC_DRC: false
MAGIC_EXT_USE_GDS: false
MAGIC_CAPTURE_ERRORS: false
QUIT_ON_ILLEGAL_OVERLAPS: false